[Unit]
Description=Apache Spark Master 
After=network.target zookeeper.service hive-metastore.service

[Service]
User={{ spark_user }}
Group={{ application_group }}

Environment=JAVA_HOME={{ java_home_17 }}
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=HADOOP_CLASSPATH=$($HADOOP_HOME/bin/hadoop classpath)

ExecStartPre={{ lockbox_dir }}/decrypt_lockbox.sh
ExecStartPre={{ fuse_home }}/spark_fuse.sh


ExecStart=/bin/bash -c "source {{ tmpfs_dir }}/{{ lockbox_env }};  /usr/bin/rm -f  {{ tmpfs_dir }}/*{{ lockbox_env }} ;/opt/spark/sbin/start-master.sh -h {{ inventory_hostname }}.{{ fqdn }} -p {{ spark_rpc_port }} --webui-port {{ spark_webui_port }} --properties-file {{ spark_mnaster_conf_dir }}/ha.conf "
ExecStop=/opt/spark/sbin/stop-master.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
