[Unit]
Description=Apache Spark Master 
After=network.target spark-master.service

[Service]
User={{ spark_user }}
Group={{ application_group }}

Environment=JAVA_HOME={{ java_home_17 }}
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=HADOOP_CLASSPATH=$($HADOOP_HOME/bin/hadoop classpath)

ExecStartPre={{ fuse_home }}/spark_fuse.sh

ExecStart={{ spark_home }}/run-spark-worker.sh
ExecStop=/opt/spark/sbin/stop-worker.sh

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
