[core]
executor = LocalExecutor
load_examples = False
dags_folder = {{ airflow_dag_dir }}
parallelism = 32  

[scheduler]
min_file_process_interval = 60
dag_dir_list_interval = 15
dag_concurrency = 16  
max_active_tasks_per_dag = 16

[logging]
logging_level = WARNING

[webserver]
base_url = https://airflow.{{ fqdn }}:{{ airflow_port }}
web_server_port = {{ airflow_port }}
web_server_ssl_cert = {{ cert_dir }}/{{ server_cert_file_name }}
web_server_ssl_key = {{ cert_dir }}/{{ server_key_file_name }}

[database]
sql_alchemy_conn = postgresql+psycopg2://$PGUSER:$PGPASSWORD@postgres.{{ fqdn }}:{{ postgresql_port }}/{{ airflow_db_name }}

