[Unit]
Description= Zookeeper
After=network.target

[Service]
User={{ zookeeper_user  }}
Group={{ application_group }}
ExecStart=/opt/zookeeper/bin/zkServer.sh start-foreground 
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
