#!/bin/bash

eval "$({{ secret_dir }}/{{ decrypt_file }})";
AWSACCESSKEYID=$AWS_ACCESS_KEY_ID
AWSSECRETACCESSKEY=$AWS_SECRET_ACCESS_KEY

group="$(/usr/bin/getent group {{ fuse_group }}  | /usr/bin/cut -d: -f3)"

## check the mount mount, if exists then exit
/usr/bin/df {{ airflow_dag_dir }} |/usr/bin/grep s3fs | grep {{ airflow_dag_dir }}

if [ $? -eq 0 ] 
then 
  /usr/bin/echo " {{ airflow_dag_dir }} already mounted"	
else
  /usr/bin/echo "Mounting ... {{ airflow_dag_dir }}"	
  mkdir -p {{ airflow_dag_dir }} 
  /usr/bin/s3fs {{ airflow_s3_bucket_dag }} {{ airflow_dag_dir }} -o umask=002,gid=$group,use_path_request_style,allow_other,url={{ s3_protocol }}://minio.{{ fqdn }}:9000
  	
fi

## check the mount mount, if exists then exit
/usr/bin/df {{ airflow_log_dir }} |/usr/bin/grep s3fs | grep airflow_log_dir

if [ $? -eq 0 ]
then
  /usr/bin/echo " {{ airflow_log_dir }} already mounted"        
else
  /usr/bin/echo "Mounting ... {{ airflow_log_dir }}"    
  mkdir -p {{ airflow_log_dir }}
  /usr/bin/s3fs {{ airflow_s3_bucket_log }} {{ airflow_log_dir }} -o umask=002,gid=$group,use_path_request_style,allow_other,url={{ s3_protocol }}://minio.{{ fqdn }}:9000
fi




