[Unit]
Description= fuse service
After=network.target minio.service

[Service]

Type=oneshot

ExecStart=bash -c "{{ fuse_home }}/airflow_fuse.sh;{{ fuse_home }}/spark_fuse.sh;{{ fuse_home }}/dbbackup_fuse.sh"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

