server {
    listen       80;
    server_name  {{ hostvars[groups['repo'][0]]['ansible_host'] }}; # Change to your domain name 

    root /var/data; # Change to your static file directory

    autoindex on; # Enable directory listing

    location / {
        try_files $uri $uri/ =404;
    }
}
