server.port: 5601
server.host: "{{ hostvars[inventory_hostname]['ansible_host'] }}"

opensearch.hosts:
{% for host in groups['opensearch'] %}
{%   if 'master' in hostvars[host]['role'] %}
  - https://{{ host }}.{{ fqdn }}:9200
{%   endif %}
{% endfor %}

opensearch.ssl.verificationMode: none
opensearch.username: "kibanaserver"
opensearch.password: "admin"
opensearch.requestHeadersWhitelist: [ authorization,securitytenant ]

