{
    "web": {
        "issuer": "https://keyclock.{{ fqdn }}:6443/realms/bi",
        "auth_uri": "https://keyclock..com:6443/realms/bi/protocol/openid-connect/auth",
        "client_id": "{{ keycloak_superset_client_id }}",
        "client_secret":  "e236ea34-6b6c-4024-9bb2-7c57aa627a0a",
        "redirect_uris": [
            "https://keyclock.{{ fqdn }}:6443/*"
        ],
        "userinfo_uri": "'https://keyclock.{{ fqdn }}:6443/realms/bi/protocol/openid-connect/userinfo",
        "token_uri": "https://keyclock.{{ fqdn }}:6443/realms/bi/protocol/openid-connect/token",
        "token_introspection_uri": "https://keyclock.{{ fqdn }}:6443/realms/bi/protocol/openid-connect/token/introspect"
    }
}
