[Unit]
Description=Apache Superset
After=network.target postgresql@14-main.service

[Service]
User={{ superset_user }}
Group={{ application_group }}
WorkingDirectory={{ superset_home }}
Environment=FLASK_APP=superset
Environment=PYTHONPATH={{ superset_home }}/pythonpath
EnvironmentFile=SUPERSET_CONFIG_PATH={{ superset_home }}/superset.py
ExecStart=bash -c "eval $({{ lockbox_dir }}/decrypt_lockbox_eval.sh); {{ superset_venv_path }}/bin/superset run -p {{ superset_port }} --with-threads --reload --debugger"
Restart=always

[Install]
WantedBy=multi-user.target
