coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port={{ trino_port }}
discovery.uri=http://trino.{{ fqdn }}:{{ trino_port }}

internal-communication.shared-secret= {{ trino_shared_secret }}

http-server.https.enabled=true
http-server.https.port={{ trino_tls_port }}
http-server.https.keystore.path={{ cert_dir }}/{{ server_cert_key_file_name }}

http-server.authentication.type=PASSWORD,oauth2
#http-server.authentication.type=oauth2
web-ui.authentication.type=oauth2
http-server.authentication.oauth2.issuer=https://keyclock.{{ fqdn }}:{{ keycloak_https_port }}/realms/{{ keycloak_bi_realm }}
http-server.authentication.oauth2.client-id={{ keycloak_trino_client_id }}
http-server.authentication.oauth2.client-secret={{ keycloak_minio_client_secret }}
