[Unit]
Description=Trino
After=network.target keycloak.service jupyterhub.service

[Service]
User={{ trino_user }}
Group={{ application_group }}

Environment=JAVA_HOME={{ java_home }}

ExecStart={{ trino_home }}/run_trino.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
