global
	maxconn 100

defaults
	log global
	mode tcp
	retries 2
	timeout client 30m
	timeout connect 4s
	timeout server 30m
	timeout check 5s


listen stats
	mode http
	bind *:7000
	stats enable
	stats uri /

userlist basic-auth-list
    user "$SPARK_UI_USER" insecure-password "$SPARK_UI_PASSWORD"

frontend spark_fn
    bind *:{{ spark_webui_haproxy_port }} ssl crt  {{ cert_dir }}/{{ server_cert_key_file_name }}
    mode http
    acl draw-auth http_auth(basic-auth-list)
    http-request auth realm draw unless draw-auth
    default_backend spark_be

backend spark_be
      mode http
      server spark 127.0.0.1:{{ spark_webui_proxy_port }}


{% if s3_protocol== "http" %}

frontend minio_fn
    bind *:9443 ssl crt   {{ cert_dir }}/{{ server_cert_key_file_name }}
    mode http
    default_backend minio_be

backend minio_be
      mode http
      server minio 127.0.0.1:9001

{% endif %}


listen partoni
	bind *:{{ partoni_haproxy_port }}
	option httpchk
	http-check expect status 200
	default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

{% for host in groups['patroni'] %}
    	server {{ host }}  {{ host }}:5432 maxconn 80 check port {{ partoni_restapi_port }}
{% endfor %}
