[Journal]
SystemMaxUse={{ SystemMaxUse }}       # Max total disk space used
SystemKeepFree={{ SystemKeepFree }}     # Keep at least this much disk space free
SystemMaxFileSize={{ SystemMaxFileSize }}   # Max size of individual journal files
MaxRetentionSec={{ MaxRetentionSec }}   # Max time to retain logs (optional)
##
