#!/bin/bash

/usr/bin/rm -rf {{ tmpfs_dir }}/{{ lockbox_env }}
/usr/bin/rm -rf {{ tmpfs_dir }}/{{ patroni_lockbox_env }}
/usr/bin/rm -rf {{ tmpfs_dir }}/s3cred 

/usr/bin/gpg --passphrase  `{{ passphrase }}` --batch --quiet --yes  -d {{ lockbox_dir }}/{{ lockbox_env }}.gpg >  {{ tmpfs_dir }}/{{ lockbox_env }}

/usr/bin/chmod 660 {{ tmpfs_dir }}/{{ lockbox_env }}



