export PGUSER={{ db_user }}
export PGPASSWORD={{ db_password }}
export KC_DB_USERNAME={{ db_user }}
export KC_DB_PASSWORD={{ db_password }}
export KEYCLOAK_ADMIN={{ keycloak_admin }}
export KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_psassword }}
export MINIO_ROOT_USER={{ minio_root_user }}
export MINIO_ROOT_PASSWORD={{ minio_root_password }}
export DB__USERNAME={{ db_user }}
export DB__PASSWORD={{ db_password }}
export SECURITY__ADMIN_USERNAME={{ airflow_admin_username }}
export SECURITY__ADMIN_PASSWORD={{ airflow_admin_password }}
export AIRFLOW_ADMIN_USERNAME={{ airflow_admin_username }}
export AIRFLOW_ADMIN_PASSWORD={{ airflow_admin_password }}
export AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
export KEYCLOAK_MINIO_CLIENT_SECRET={{ keycloak_minio_client_secret }}
export KEYCLOAK_JUPYTER_CLIENT_SECRET={{ keycloak_jupyter_client_secret }}
export KEYCLOAK_TRINO_CLIENT_SECRET={{ keycloak_trino_client_secret }}
export KEYCLOAK_SUPERSET_CLIENT_SECRET={{ keycloak_superset_client_secret }}
export KEYCLOAK_AIRFLOW_CLIENT_SECRET={{ keycloak_airflow_client_secret }}
export TRINO_SHARED_SECRET={{ trino_shared_secret }}
export SPARK_UI_USER={{ spark_ui_user }}
export SPARK_UI_PASSWORD={{ spark_ui_password }}
