export PATRONI_SUPERUSER_USERNAME={{ patroni_superuser_username }}
export PATRONI_SUPERUSER_PASSWORD={{ patroni_superuser_password }}
export PATRONI_REPLICATION_USERNAME={{ patroni_replication_username }}
export PATRONI_REPLICATION_PASSWORD={{ patroni_replication_password }}
