{
    "web": {
        "issuer": "https://keyclock.{{ fqdn }}:6443/realms/{{ keycloak_superset_realm }}",
        "auth_uri": "https://keyclock..com:6443/realms/{{ keycloak_superset_realm }}/protocol/openid-connect/auth",
        "client_id": "{{ keycloak_superset_client_id }}",
        "client_secret":  os.environ.get("KEYCLOAK_CLIENT_SECRET"),
        "redirect_uris": [
            "https://keyclock.{{ fqdn }}:6443/*"
        ],
        "userinfo_uri": "'https://keyclock.{{ fqdn }}:6443/realms/{{ keycloak_superset_realm }}/protocol/openid-connect/userinfo",
        "token_uri": "https://keyclock.{{ fqdn }}:6443/realms/{{ keycloak_superset_realm }}/protocol/openid-connect/token",
        "token_introspection_uri": "https://keyclock.{{ fqdn }}:6443/realms/{{ keycloak_superset_realm }}/protocol/openid-connect/token/introspect"
    }
}
