[Unit]
Description=Apache  superset
After=network.target trino.service

[Service]
User={{ superset_user }}
Group={{ application_group }}
WorkingDirectory={{ superset_home }}/non-keycloak
Environment=FLASK_APP=superset
Environment=PYTHONPATH={{ superset_home }}/pythonpath

ExecStart={{ superset_home }}/non-keycloak/run_superset.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

