[Unit]
Description=Jupyterhub service
After=network.target keycloak.service spark-master.service

[Service]
#User={{ jupyterhub_user }}
#Group={{ application_group }}

Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=SPARK_HOME={{ spark_home }}
Environment=OAUTH2_AUTHORIZE_URL=https://keyclock.{{ fqdn }}:{{ keycloak_https_port }}/realms/{{ keycloak_devel_realm }}/protocol/openid-connect/auth
WorkingDirectory={{ jupyterhub_home }}

ExecStartPre={{ lockbox_dir }}/decrypt_lockbox.sh
ExecStartPre={{ fuse_home }}/jupyterhub_fuse.sh

ExecStart=/bin/bash -c "source {{ tmpfs_dir }}/{{ lockbox_env }};  /usr/bin/rm -f  {{ tmpfs_dir }}/*{{ lockbox_env }}; jupyterhub -f /etc/jupyterhub/jupyterhub_config_simple.py"

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
